html {
    scroll-behavior: smooth;
}

#theme-toggle {
    display: none;
}

.fullscreen-button {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}

#loading {
    display: none;
}

.section {
    height: 100vh;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.section-inner {
    display: table-cell;
    vertical-align: middle;
}