* {
  font-family: Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 9999;
}

.section {
  margin: auto !important;
}

.container-outer {
  display: flex;
  justify-content: center;
}

.container-inner {
  width: calc(40% + 700px);
}

/* Header */
#header {
  position: fixed;
  top: 0;
  width: calc(100% - 100px);
  height: 70px;

  display: flex;
  justify-content: space-between;
}

#theme-toggle,
#header-socials {
  display: flex;
  align-items: center;
  width: 50%;
}

#header-socials a {
  margin-right: 7px;
}

#theme-toggle {
  justify-content: flex-end;
}

#theme-toggle a,
#header-socials a {
  border-radius: 50px;

  min-width: 40px;
  min-height: 40px;
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-toggle a:hover,
#header-socials a:hover {
  cursor: pointer;
}

#theme-toggle a i,
#header-socials a i {
  font-size: 20px;
}

/* Body */
body {
  margin: 0 50px !important;
}

h4 {
  margin-bottom: 3px;
}

#landing-title {
  text-align: center;
}

#who-am-i-description {
  max-width: 800px;
}

#skills {
  margin-left: 40px;
  max-width: 400px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

#skills li {
  padding: 5px 0;
}

.certificates {
  margin-left: 40px;
}

.certificates li {
  padding: 5px 0;
}

.certificates li a {
  text-decoration: none;
}

.certificates li a:hover {
  text-decoration: underline;
}

.project-example {
  margin: auto 20px auto 0;
  max-width: 40%;
}

.example-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.example-container img,
.example-container video {
  width: 100%;
  border-radius: 5px;
}

.fullscreen-button {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  right: 0;
  margin: 10px;

  height: 34px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.fullscreen-button:hover {
  cursor: pointer;
  background: rgba(65, 65, 65, 0.7);
}

.bi-fullscreen {
  color: white;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons a {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  text-decoration: none;
}

.disabled-button {
  opacity: 0.4;
  cursor: not-allowed !important;
}

.project-information {
  width: fit-content;
}

.project-information > * {
  max-width: 700px;
}

.tech-used {
  list-style-type: none;
}

.tech-used > li {
  float: left;
  padding: 5px 8px;
  border-radius: 50px;
  margin: 3px 3px 3px 0;
}

.project-information p {
  clear: both;
  margin-top: 40px;
}

/* Media queries */
@media screen and (max-width: 850px) {
  #header {
    left: 0;
    width: 95%;
    margin-left: 2.5%;
  }

  .container-outer {
    display: block;
  }

  .container-inner {
    width: auto;
  }

  .project-example {
    margin-right: 0;
    max-width: none;
  }
}

@media screen and (max-width: 400px) {
  body {
    margin: 0 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  #fp-nav.right {
    right: 0px !important;
  }
}

@media screen and (max-width: 320px) {
  .project-buttons a {
    padding: 10px;
  }
}
