@font-face {
  font-family: Benton Sans;
  src: url(../fonts/BentonSans.ttf) format("truetype");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Benton Sans", "Helvetica", "Arial", "sans-serif";
  background-color: #c7c7c7;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  cursor: url("../pointer.svg"), auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

p,
ul li {
  font-size: 1.5rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Text Carousel via https://dev.to/chokcoco/text-carousel-and-image-carousel-using-css-2ji5 */
:root {
  --s: 7;
  --h: 30;
  --speed: 1.5s;
}

.g-container {
  height: calc(var(--h) * 1px);
  overflow-y: hidden;
  background-color: #333;
  border-radius: 5px;
  color: #c7c7c7;
  margin-left: 2px;
  padding-left: 3px;
  padding-right: 8px;
}

ul {
  display: flex;
  flex-direction: column;
  animation: move calc(var(--speed) * var(--s)) steps(var(--s)) infinite;
}

li {
  list-style: none;
}

ul li {
  width: 100%;
  animation: liMove calc(var(--speed)) infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, calc(var(--s) * var(--h) * -1px));
  }
}

@keyframes liMove {
  0% {
    transform: translate(0, 0);
  }
  80%,
  100% {
    transform: translate(0, calc(var(--h) * -1px));
  }
}
