@font-face {
  font-family: Benton Sans;
  src: url(../fonts/BentonSans.ttf) format("truetype");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #c7c7c7;
  color: #333;
  font-family: "Benton Sans", "Helvetica", "Arial", "sans-serif";
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("../pointer.svg"), auto;
}

p {
  font-size: 1.5rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#text {
  width: 125px;
}

.fade-out {
  animation: fadeOut ease 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
