<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link id="css" rel="stylesheet" href="css/dark.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.css'>

    <title>Portfolio - Cody Peters</title>
</head>

<div id="loading"></div>

<header>
    <div id="header">
        <div id="header-socials">
            <a href="https://github.com/cdy-peters" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/cdy-peters/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
        <div id="header-title">
            <h1>Portfolio</h1>
        </div>
        <div id="theme-toggle">
            <a onclick="themeHandler()"><i class="bi bi-sun-fill"></i></a>
        </div>
    </div>
</header>

<body>
    <div id="fullpage">
        <div class="section">
            <h1>Hi, I'm Cody Peters</h1>
            <h3>Student at Queensland University of Technology</h3>
        </div>

        <div class="section">
            <h1>Experience</h1>
            <h3>Course Experience</h3>
            <ul>
                <li><a href="https://certificates.cs50.io/13093d40-571b-436e-82fd-879ad2955d5c.pdf?size=letter">Harvard
                        CS50x: Introduction to Computer Science</a></li>
                <li><a href="https://www.coursera.org/account/accomplishments/professional-cert/PYFEXVQ6UFEH">Google IT
                        Support Professional Certificate</a></li>
                <li><a href="https://freecodecamp.org/cdy-peters">freeCodeCamp</a></li>
            </ul>
        </div>

        <div class="section">
            <div class="project-container">
                <div class="project-example">
                    <div class="example-container">
                        <video id="recommendations-video" playsinline autoplay muted loop>
                            <source src="videos/recommendations.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="project-buttons">
                        <a class="disabled-button" style="margin-right: 5px;">Live Demo</a>
                        <a style="margin-left: 5px;" href="https://github.com/cdy-peters/recommendations"
                            target="_blank">Github Repo</a>
                    </div>
                </div>
                <div class="project-information">
                    <h1>Project - Recommendations for Spotify</h1>
                    <br>
                    <h4>Technologies Used</h4>
                    <p>Python, Flask, Spotify API</p>
                    <br>
                    <h4>Project Purpose</h4>
                    <p>Recommendations is a web app that was built to explore the Spotify API whilst also being my first
                        full stack project. Development evolved into exploring sessions to provide a dynamic experience
                        for
                        users followed by a brief introduction to threading.</p>
                    <br>
                    <h4>Project Description</h4>
                    <p>Recommendations provides accurate song recommendations given a selected
                        playlist, ordering recommendations by similarity to the theoretical average song in the
                        playlist.
                        The average song is based on the characteristics of each song in the playlist as provided by the
                        Spotify API. Using cosine similarity, a comparison is made between the average song and each
                        recommendation's characteristics to return a value from 0 to 1, representing how similar the
                        songs
                        are.</p>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="project-container">
                <div class="project-example">
                    <div class="example-container">
                        <video id="choropleth-timelines-video" playsinline autoplay muted loop>
                            <source src="videos/choropleth-timelines.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="project-buttons">
                        <a style="margin-right: 5px;" href="https://choropleth-timelines.vercel.app/"
                            target="_blank">Live
                            Demo</a>
                        <a style="margin-left: 5px;" href="https://github.com/cdy-peters/choropleth-timelines"
                            target="_blank">Github Repo</a>
                    </div>
                </div>
                <div class="project-information">
                    <h1>Project - Choropleth Timelines</h1>
                    <br>
                    <h4>Technologies Used</h4>
                    <p>JavaScript</p>
                    <br>
                    <h4>Project Purpose</h4>
                    <p>Development of the Choropleth Timelines web app began after learning JavaScript, in which I also
                        learnt the D3.js library. Out of personal interest, I wanted to use D3.js to develop a visual
                        depiction of the Covid-19 outbreak across the world.</p>
                    <br>
                    <h4>Project Description</h4>
                    <p>Choropleth Timelines visualizes, on a choropleth, global data for a selected dataset. The web app
                        allows for viewing of a historical timeline of data where users can select past dates or, scrub
                        through the individual days provided by the dataset.</p>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="project-container">
                <div class="project-example">
                    <div class="example-container">
                        <video id="messaging-webapp-video" playsinline autoplay muted loop>
                            <source src="videos/messaging-webapp.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="project-buttons">
                        <a class="disabled-button" style="margin-right: 5px;">Live Demo</a>
                        <a style="margin-left: 5px;" href="https://github.com/cdy-peters/messaging-webapp"
                            target="_blank">Github Repo</a>
                    </div>
                </div>
                <div class="project-information">
                    <h1>Project - Messaging Web App</h1>
                    <br>
                    <h4>Technologies Used</h4>
                    <p>MongoDB, Express, React, Node</p>
                    <br>
                    <h4>Project Purpose</h4>
                    <p>Desired to switch to a more conventional tech stack from a Python based stack, I learnt the MERN
                        tech
                        stack. I then sought to employ this tech stack developing a functional and dynamic messaging web
                        app
                        using session.io.</p>
                    <br>
                    <h4>Project Description</h4>
                    <p>The developed messaging web app incorporates and user login and registration allowing for users
                        to
                        send direct messages between others. With the use of session.io, messages and new conversations
                        are
                        sent received by client providing a dynamic messaging experience.</p>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="project-container">
                <div class="project-example">
                    <div class="example-container">
                        <video id="online-photo-editor-video" playsinline autoplay muted loop>
                            <source src="videos/online-photo-editor.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="project-buttons">
                        <a style="margin-right: 5px;" href="https://online-photo-editor.vercel.app/"
                            target="_blank">Live
                            Demo</a>
                        <a style="margin-left: 5px;" href="https://github.com/cdy-peters/online-photo-editor"
                            target="_blank">Github Repo</a>
                    </div>
                </div>
                <div class="project-information">
                    <h1>Project - Online Photo Editor</h1>
                    <br>
                    <h4>Technologies Used</h4>
                    <p>JavaScript</p>
                    <br>
                    <h4>Project Purpose</h4>
                    <p>During a course, learning the basic of C, I had implemented some pixel manipulation algorithms.
                        Wanting to build upon this, I developed a functional online photo editor featuring many standard
                        photo editing options.</p>
                    <br>
                    <h4>Project Description</h4>
                    <p>I have developed an online photo editor that provides filters, light and color adjustments,
                        details
                        adjustments and effects. The web app makes use of the library GPU.js to improve efficiency when
                        performing complex computations particular when performing matrix multiplication.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.js'></script>
    <script src="js/main.js"></script>
</body>

</html>