<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Cody Peters' technical project portfolio; showcases development skills."
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicons/favicon-32x32.png"
    />

    <link
      rel="preload"
      href="fonts/BentonSans.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link rel="preload" href="css/style.css" as="style" />
    <link rel="preload" href="js/script.js" as="script" />

    <link rel="stylesheet" href="css/style.css" />

    <title>Cody Peters - Portfolio</title>
  </head>

  <body>
    <p>re_</p>
    <p id="text"></p>

    <script src="js/script.js"></script>
  </body>
</html>
